.title{
    text-align: center;
}
.background_color{
    background-color: #990909;
}
.text_header{
    color: white;
}
.backcolor {
    background-color: black;
}
.img1, .img2, .img3, .img4{
    margin-left: 50px;
    margin-right: 75px;
    margin-block-end: 4px;
    margin-block-start: 0px;
}
.text_header{
    margin-left: 50px;
    margin-right: 75px;
    margin-block-end: 50px;
    margin-block-start: 50px;
}
.header_link1, .header_link2, .header_link3, .header_link4{
    margin-left: 150px;
    margin-right: 170px;
    color: white;
    font-size: 18px;
}
.main_text{
    font-size: 18px;
    text-align: left;
}
.aside1{
    padding-right: 150px;
    background-color: #7D0909;
    color: #C9420F;
    text-decoration: underline;
}
.center_text{
    color: white;  
}
.aside2{
    background-color: #EEECDF;
}
h3{
    text-align: center;
    background-color: #BDBDBD;
}
footer{
    background-color: #eb6a50;
    text-align: center;
    color: white;
}
hr{
        border: none;
        background-color : #BDBDBD;
        height: 2px; 
        margin-left: 75px;
        margin-right: 75px;
}